<h1>Startseite</h1>
<div align="left">
    <%= render partial: "flat" %>
    <% @users.each do |user| %>
        <% if user.profile.nil? %>
        <% else %>
        <ul class="listing">
                <div class="row">
                    <div class="well col-sm-9 col-sx-12", id="profile-wrapper">
                        <div class="profile_image">
                            <%= gravatar_for user, size: 110%>
                        </div>
                        <li class="profile_name"><%= "#{user.profile.name}" %>
                        </li>
                        <li>Spezialist für: <%= "#{user.profile.specialization}" %>
                        </li>
                        <li>Email: <%= "#{user.email}" %>
                        </li>
                        <%= link_to "Zum Profil", profile_path(user.profile.id), class: "btn btn-primary", id: "profile_button" %>
                        <%= link_to "Video-Chat", rooms_path, class: "btn btn-success", id: "profile_button" %>
                    </div>
                </div>
            </ul>
        <% end %>
    <%end%>
</div>

<% if @current_user.profile.nil?%>
<%= link_to 'Create Profile', new_profile_path %>
<%else%>
<%= link_to 'Edit Profile', edit_profile_path( @current_user.id) %>
<% end %>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>