<h1>Startseite</h1>
<div align="left">

    <% @users.each do |user| %>
        <% if user.profile.nil? %>
        <% else %>
           <%= render partial: "flat", locals: {profile: user}%>
        <% end %>
    <%end%>
</div>

<% if @current_user.profile.nil?%>
<%= link_to 'Create Profile', new_profile_path %>
<%else%>
<%= link_to 'Edit Profile', edit_profile_path( @current_user.id) %>
<% end %>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>