/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */

.listing {
    list-style: none;
    padding-left: 0;
}

.profile_image{
    float: left;
    margin-right: 20px;
    
}
#profile-wrapper{
    min-height: 120px;
}

.profile_name{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

#profile_button{
    float: right;
    margin-left: 8px;
}

h1,h2,h3,h4,p,a,button
{
   font-family: Arial !important;
}

.OT_root{

width: 800px;
height: 800px;

margin-right: auto;
margin-left: auto;
}

#content-wrapper{
    margin-top: 120px;
}

#start {
  margin: 40px auto;
  text-align: center;
  color: #DAD6D6;
  background: #48633B;
  border:solid 2px #35492C;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

#stop {
  margin: 40px 5px auto;
  text-align: center;
  color: #DAD6D6;
  background: #721329;
  border:solid 2px #590F20;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

#clear {
  margin: 40px auto;
  text-align: center;
  color: #DAD6D6;
  background: #564E58;
  border:solid 2px #3E383F;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}